&-content {
  width: 100%;
  overflow: auto;
  padding-top: rem(49);

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}

&-preview {
  width: 100%;
  height: 100%;
  display: none;
  border-left: rem(1) solid $dashboard-border-color;
  padding-top: rem(49);
}
