<div class="dashboard">
	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar__brand">Allround</div>
		<div class="dashboard-nav">
			<ul>
				<li class="dashboard-nav__item selected">
					<a href="/home">Home</a>
				</li>
				<li class="dashboard-nav__item">
					<a href="/routes">Routes</a>
				</li>
			</ul>
		</div>
	</div>
  <div class="dashboard-header">
    <div class="dashboard-header__search">
      <input type="search" placeholder="Search...">
    </div>
  </div>
	<div class="dashboard-content">

	</div>
	<div class="dashboard-preview">
	</div>
</div>
