[Unit]
Description=Allround dashboard daemon
After=network.target

[Service]
PIDFile={PID_PATH}
LogFile={LOG_PATH}
User={SV_USER}
Group={SV_GROUP}
WorkingDirectory={ALLROUND_PATH}
ExecStart=/usr/local/bin/gunicorn --pid {PID_PATH} --bind 0.0.0.0:{SERVER_PORT} dashboard_init:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
